@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your global CSS */
.isolate {
  isolation: isolate;
  position: relative;
  z-index: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Gambetta';
  src: url('./assets/fonts/Gambetta/Gambetta-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambetta';
  src: url('./assets/fonts/Gambetta/Gambetta-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Plein';
  src: url('./assets/fonts/Plein/Plein-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plein';
  src: url('./assets/fonts/Plein/Plein-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/*
html, body, * {
  cursor: none !important;
}

*,*::before,*::after,input,textarea,button,select,a,
[role="button"],
[contenteditable] {
  cursor: none !important;
}
/* Optional: Hide cursor on touch devices */

@media (pointer: coarse) {
  html, body {
    cursor: default !important;
  }
} 

.marquee {
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 15s linear infinite; /* Adjust duration as needed */
  animation-delay: 2s; /* Add a 2-second delay */
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
